{% extends 'base.html' %}
{% load static %}

{% block title%} Home {% endblock %}

{% block body %}
<style>      
  .hucha{
          height: 300px ;
      width: 1300px ;
      object-fit: cover; }
    </style>
                <div class="container mt-3">
                  {% if user.is_authenticated %}
                  <p class="text-center fs-3">Hola Bienvenido!! {{ user.get_username }}</p>
                  {% else %}
                   {% endif %}
                   
                  <h3 class="text-center">- Nomina</h3>
                  <p class="text-justify">La nómina en México es un componente esencial de la gestión empresarial, que abarca la compilación detallada y el registro de los salarios y prestaciones que una organización paga a sus empleados.
                    Este proceso no solo cumple con las obligaciones legales y fiscales, sino que también desempeña un papel crucial en el mantenimiento de un ambiente laboral equitativo y transparente.


                  </p>
                    <img src="{% static 'worklife/images/pickens.jpg' %}" 
                         class="hucha img-fluid mx-auto d-block" 
                         alt="Hucha">
                  <h4 class="text-center mt-5">¿Qué son las percepciones de nómina?</h4>
                           
                  <p class="text-justify mb-2">

                   Son los conceptos que constituyen el ingreso total que un empleado recibe por su trabajo. Estos componentes pueden variar según las políticas internas de la empresa y las regulaciones laborales y fiscales vigentes en el país.  
                  
                  </p>
                  <p class="text-center">En este concepto se incluye tanto aquellas que están establecidas entre la relación obrero-patronal (salario, prestaciones de ley),  como las percepciones extras como los bonos:</p>
              
                  <ol class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Sueldo bruto.</div>
                        Cantidad que comprende la suma de salario base, prestaciones, indemnizaciones, etc., antes de aplicar las retenciones obligatorias.</li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Bonos</div>
                        ya sea por el logro de ciertos indicadores de desempeño o por acuerdos, como la puntualidad. </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Comisiones</div>
                        Se trata de un porcentaje de los ingresos de una venta, que usualmente se maneja con un tabulador con base en el logro de ciertas metas.</div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Horas extra</div>
                        En los casos en que por circunstancias extraordinarias, la jornada laboral deba extenderse.
                     </li>
              
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Prima vacacional, prima dominical</div>
                        Entre Otras</li>
              
              
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Aguinaldo</div>
              
                        reparto de utilidades (PTU) o algún subsidio.  </li>
                   
                      </ol>
              
                 
                 
              
                  
              
                 
              
                      <img src="{% static 'worklife/images/dolar.jpg' %}" class="hucha img-fluid mx-auto d-block mt-5" alt="Hucha" >
              
                 
                    <h4 class="text-center mt-5">¿Qué son las deducciones de nómina?</h4>
                                           <p class="text-justify">
 Las deducciones de nómina son los descuentos o retenciones que se realizan al salario bruto de un empleado antes de que se le pague su salario neto. Estas deducciones pueden variar según las leyes fiscales y laborales, así como las políticas internas de la empresa. 
                                           </p>

<p class="text-center">Las deducciones que pueden hacerse a los colaboradores, estipuladas en la Ley Federal del Trabajo, son:</p>


    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Impuesto Sobre la Renta (ISR):</div>
          Es la forma con la que la Secretaría de Hacienda y Crédito Público recauda impuestos de los salarios del trabajador. El monto varía de acuerdo al salario, siendo mayor para quienes perciben sueldos más altos.
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Retención de Seguro Social (IMSS):</div>
          Es la cantidad que se aporta entre patrón y trabajador, para que este pueda estar afiliado y recibir cobertura médica por parte del Instituto Mexicano del Seguro Social, así como pago de incapacidades.
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Fondo de vivienda:</div>
          Deducción que se realiza siempre y cuando el colaborador haya solicitado un crédito con INFONAVIT para adquirir un inmueble, que se descuenta en el pago del colaborador. 
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Fondo para el retiro: </div>
          Si la empresa da como prestación la aportación voluntaria del Fondo para el Retiro, se podrá deducir de su pago una cantidad para destinarla allí. </div>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Caja de Ahorro. </div>
          En caso de contar con la prestación de caja de ahorro o cooperativas, se puede realizar la deducción de ello con la conformidad del trabajador y sin exceder el 30% de su sueldo. </li>

      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Cuentas sindicales. </div>
          En caso de que se contrate al empleado por medio de un sindicato, se tendrá que aportar a este una determinada cantidad.
        </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Deudas contraídas con la empresa. </div>
              Se incluyen prestamos, adelantos o daños de las herramientas de trabajo, créditos con FONACOT y las pensiones alimenticias. </li>
   
        </ol>
                                         


  <h6  class="text-center mt-5">Nomina.xml</h6>
  <pre class="bg-dark text-light border rounded p-3 mb-3 m-3 pre-scrollable">
    <code class="language-xml">
      &lt;cfdi:Comprobante xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tfd="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:nomina12="http://www.sat.gob.mx/nomina12" xmlns:cfdi="http://www.sat.gob.mx/cfd/4" xsi:schemaLocation="http://www.sat.gob.mx/cfd/4 http://www.sat.gob.mx/sitio_internet/cfd/4/cfdv40.xsd http://www.sat.gob.mx/nomina12 http://www.sat.gob.mx/sitio_internet/cfd/nomina/nomina12.xsd" Version="4.0" Serie="ASIM" Folio="4434" Fecha="2025-02-05T15:27:40" SubTotal="5500.00" Descuento="593.30" Moneda="MXN" Total="4906.70" TipoDeComprobante="N" Exportacion="01" MetodoPago="PUE" LugarExpedicion="05120" Sello="" NoCertificado="" Certificado=""&gt;
      &lt;cfdi:Emisor Rfc="IVD920810GU2" Nombre="INNOVACION VALOR Y DESARROLLO SA" RegimenFiscal="601"/&gt;
     &lt;cfdi:Receptor Rfc="BOMV900319JQ9" Nombre="VLADIMIR ALFREDO BOLAÑOS MARTINEZ" DomicilioFiscalReceptor="05530" RegimenFiscalReceptor="605" UsoCFDI="CN01"/&gt;
      &lt;cfdi:Conceptos&gt;
        &lt;/cfdi:Concepto ClaveProdServ="84111505" Cantidad="1" ClaveUnidad="ACT" Descripcion="Pago de nómina" ValorUnitario="5500.00" Importe="5500.00" Descuento="593.30" ObjetoImp="01"/&gt;
      &lt;/cfdi:Conceptos&gt;
      &lt;cfdi:Complemento&gt;
        &lt;nomina12:Nomina Version="1.2" TipoNomina="O" FechaPago="2025-01-30" FechaInicialPago="2025-01-16" FechaFinalPago="2025-01-31" NumDiasPagados="16.000" TotalPercepciones="5500.00" TotalDeducciones="593.30" TotalOtrosPagos="0.00"&gt;
          &lt;nomina12:Emisor RegistroPatronal="Y5422608108"/&gt;
          &lt;nomina12:Receptor Curp="BOMV900319HDFLRL08" FechaInicioRelLaboral="2021-02-17" Antigüedad="P206W" TipoContrato="01" Sindicalizado="No" TipoJornada="01" TipoRegimen="02" NumEmpleado="10907" Departamento="MANTENIMIENTO &quot;D&quot;" Puesto="MANTENIMIENTO &quot;4&quot;" RiesgoPuesto="3" PeriodicidadPago="04" SalarioBaseCotApor="386.26" SalarioDiarioIntegrado="398.48" ClaveEntFed="CMX"/&gt;
          &lt;nomina12:Percepciones TotalSueldos="5500.00" TotalGravado="5500.00" TotalExento="0.00"&gt;
            &lt;nomina12:Percepcion TipoPercepcion="001" Clave="001" Concepto="Salario básico" ImporteGravado="5133.33" ImporteExento="0.00"/&gt;
            &lt;nomina12:Percepcion TipoPercepcion="001" Clave="005" Concepto="Vacaciones" ImporteGravado="366.67" ImporteExento="0.00"/&gt;
         &lt;/nomina12:Percepciones&gt;
          &lt;nomina12:Deducciones TotalOtrasDeducciones="156.08" TotalImpuestosRetenidos="437.22"&gt;
            &lt;nomina12:Deduccion TipoDeduccion="002" Clave="617" Concepto="ISR" Importe="437.22"/&gt;
            &lt;nomina12:Deduccion TipoDeduccion="001" Clave="651" Concepto="IMSS" Importe="156.08"/&gt;
          &lt;/nomina12:Deducciones&gt;
          &lt;nomina12:OtrosPagos&gt;
            &lt;nomina12:OtroPago TipoOtroPago="002" Clave="617" Concepto="SubsidioCausado" Importe="0.00"&gt;
              &lt;nomina12:SubsidioAlEmpleo SubsidioCausado="0.00"/&gt;
            &lt;/nomina12:OtroPago&gt;
          &lt;/nomina12:OtrosPagos&gt;
        &lt;/nomina12:Nomina&gt;
     &lt;/cfdi:Complemento&gt;
    &lt;/cfdi:Comprobante&gt;
    </code>
</pre>
                </div>

                {% endblock %}

                {% block js %}

                {% endblock %}