{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Test One Project-Request</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'worklife/css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

 <style>

  </style>
</head>

<body>
  

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'worklife:index' %}">
        <img src="{% static 'worklife/images/ingenieria.png' %}" alt="Bootstrap" width="52" height="52"
          style="margin-right: 10px;">Test One
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'worklife:index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'worklife:workduration' %}">Check in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'worklife:requestvi' %}">Request</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'worklife:incidents' %}">incidents</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="{% url 'worklife:calendar' %}">Calendar</a>
          </li>
          <li class="nav-item" >
    
     
          
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" >
             {% csrf_token %}
             <button type="submit" class="nav-link" style="
             background: transparent;
             border: none;
             padding: 0;
             cursor: pointer;
             outline: none;
             box-shadow: none;
             -webkit-appearance: none;
             -moz-appearance: none;
             appearance: none;
         ">
                 <i class=" nav-link visible-link bi bi-box-arrow-right" style="font-size: 1rem;"></i>
                </button>
         </form>
            {% else %}
            <a class="nav-link" href="{% url 'login'%}">Sign  In</a>
             {% endif %}
 
           </li>
           </li>
       
        </ul>
      </div>
   
    </div>
  </nav>

  <h5 style="margin-top: 18px;" class="text-center">Solicitar Permiso</h5>
  <div class="container contact-form bg-light">
    <div class="contact-image">
        <img src="{% static 'worklife/images/libro-manual.png' %}" alt="rocket_contact"/>
    </div>
    <form method="post">
        <h3>Request Incident</h3>
       <div class="row">
            <div class="col-md-6">
                <div class="form-group ">
                    <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                </div>
                <div class="form-group mt-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Incident Type </option>
                        <option value="0">Vacations</option>
                        <option value="2">Delay</option>
                        <option value="3">Unjustified absences</option>
                        <option value="4">Justified absences</option>
                        <option value="5">Maternity leave</option>
                        <option value="6">Work Incapacity</option>
                      </select>
                </div>
                <div class="form-group mt-3">
                  <label for="meeting-time" class="form-label">Start Date:</label>
                  <input 
                      type="datetime-local"
                      id="meeting-time"
                      name="meeting-time"
                      class="form-control"
                      value="2018-06-12T19:30"
                      min="2018-06-07T00:00"
                      max="2018-06-14T00:00"
                  />
                </div>
                
                 

                <div class="form-group mt-3">
                    <input type="submit" name="btnSubmit" class="btnContact" value="Send Request" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="txtMsg" class="form-control" placeholder="Details Or Comments *" style="width: 100%; height: 150px;"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
 
</body>

</html>