{% extends 'base.html' %}
{% load static %}
{% block title%} Work Duration {% endblock %}

{% block body %}

  <h5 style="margin-top: 18px;" class="text-center">Solicitar Permiso</h5>
  <div class="container contact-form bg-light">
    <div class="contact-image">
        <img src="{% static 'worklife/images/libro-manual.png' %}" alt="rocket_contact"/>
    </div>
    <form method="post">
        <h3>Request Incident</h3>
       <div class="row">
            <div class="col-md-6">
                <div class="form-group ">
                    <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                </div>
                <div class="form-group mt-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Incident Type </option>
                        <option value="0">Vacations</option>
                        <option value="2">Delay</option>
                        <option value="3">Unjustified absences</option>
                        <option value="4">Justified absences</option>
                        <option value="5">Maternity leave</option>
                        <option value="6">Work Incapacity</option>
                      </select>
                </div>
                <div class="form-group mt-3">
                  <label for="meeting-time" class="form-label">Start Date:</label>
                  <input 
                      type="datetime-local"
                      id="meeting-time"
                      name="meeting-time"
                      class="form-control"
                      value="2018-06-12T19:30"
                      min="2018-06-07T00:00"
                      max="2018-06-14T00:00"
                  />
                </div>
                
                 

                <div class="form-group mt-3">
                    <input type="submit" name="btnSubmit" class="btnContact" value="Send Request" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="txtMsg" class="form-control" placeholder="Details Or Comments *" style="width: 100%; height: 150px;"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block js %}
{% endblock %}